asn1crypto==0.24.0
biopython==1.70
certifi==2017.7.27.1
cffi==1.11.4
chardet==3.0.4
clyent==1.2.2
cryptography==2.1.4
cycler==0.10.0
decorator==4.2.1
idna==2.6
ipython-genutils==0.2.0
jsonschema==2.6.0
jupyter-core==4.4.0
matplotlib==2.1.1
matplotlib-venn==0.11.5
nbformat==4.4.0
numpy==1.14.2
pandas==0.22.0
pycparser==2.18
PyMySQL==0.7.11
pyOpenSSL==17.5.0
pyparsing==2.2.0
pysam==0.15.0
PySocks==1.6.7
python-dateutil==2.6.1
pytz==2017.3
PyYAML==3.12
requests==2.18.4
scipy==1.0.0
six==1.11.0
tabulate==0.8.2
traitlets==4.3.2
urllib3==1.22
