<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.python.pydev.debug.regularLaunchConfigurationType">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/VCF/scripts/QC/get_variants_density.py"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<mapAttribute key="org.eclipse.debug.core.environmentVariables">
<mapEntry key="PATH" value="/Users/ernesto/bin/anaconda/envs/python3/bin/python:/usr/bin/:/bin/"/>
</mapAttribute>
<stringAttribute key="org.eclipse.ui.externaltools.ATTR_LOCATION" value="${workspace_loc:VCF/scripts/QC/get_variants_density.py}"/>
<stringAttribute key="org.eclipse.ui.externaltools.ATTR_OTHER_WORKING_DIRECTORY" value="${workspace_loc:VCF/scripts}"/>
<stringAttribute key="org.eclipse.ui.externaltools.ATTR_TOOL_ARGUMENTS" value="--bedtools_folder /Users/ernesto/bin/bedtools2/bin/&#10;--filename /Users/ernesto/EBI_NFS/reseq-info/work/ernesto/isgr/VARIANT_CALLING/VARCALL_ALLGENOME_13022017/FILTERING/DEVEL_PIPELINE/SMALL_INPUT/WGS_LC_bcftools/DATA/test_snp_density/lc_bams.bcftools_NA12878.20170319.nochrEBV.sub.vcf.gz&#10;--genome_file /Users/ernesto/EBI_NFS/reseq-info/work/ernesto/isgr/VARIANT_CALLING/VARCALL_ALLGENOME_13022017/FILTERING/DEVEL_PIPELINE/SMALL_INPUT/WGS_LC_bcftools/DATA/test_snp_density/two_chros.genome&#10;--length 1000000&#10;--outprefix /Users/ernesto/EBI_NFS/reseq-info/work/ernesto/isgr/VARIANT_CALLING/VARCALL_ALLGENOME_13022017/FILTERING/DEVEL_PIPELINE/SMALL_INPUT/WGS_LC_bcftools/DATA/test_snp_density/ideogram&#10;--r_folder /usr/local/bin/&#10;--r_scripts /Users/ernesto/lib/igsr_analysis/VARIANT_CALLING/VCF/scripts/R"/>
<stringAttribute key="org.eclipse.ui.externaltools.ATTR_WORKING_DIRECTORY" value="${workspace_loc:VCF/scripts}"/>
<stringAttribute key="org.python.pydev.debug.ATTR_INTERPRETER" value="__default"/>
<stringAttribute key="org.python.pydev.debug.ATTR_PROJECT" value="VCF"/>
<intAttribute key="org.python.pydev.debug.ATTR_RESOURCE_TYPE" value="1"/>
<stringAttribute key="process_factory_id" value="org.python.pydev.debug.processfactory.PyProcessFactory"/>
</launchConfiguration>
