params.scripts_dir='/homes/ernesto/lib/igsr_analysis_master/igsr_analysis/scripts/VCF/ANNOTATION/' // location of the folder with all decoration scripts
params.sample_panel='/homes/ernesto/lib/igsr_analysis_master/igsr_analysis/SUPPORTING/integrated_allsamples.20180619.superpopulations.panel' 
params.pops='EAS,EUR,AFR,AMR,SAS' // comma separated list of populations or superpopulations
params.exome='/nfs/production/reseq-info/work/ernesto/isgr/VARIANT_CALLING/VARCALL_ALLGENOME_13022017/COMBINING/ANNOTATION/output_1000G_Exome.v1.ensembl.bed' // path to .BED file with coordinates of the exomes
params.tabix='/nfs/production/reseq-info/work/bin/tabix/tabix' // path to tabix binary
params.igsr_root='/homes/ernesto/lib/igsr_analysis_master/igsr_analysis/' // folder containing igsr codebase downloaded from https://github.com/igsr/igsr_analysis.git
params.vcf_validator='/nfs/production/reseq-info/work/ernesto/bin/vcf_validator/vcf_validator_linux' // path to vcf_validator binary
params.bcftools_folder='/nfs/production/reseq-info/work/bin/bcftools-1.9/' // folder containing the bcftools binary
params.bedtools_folder='/homes/ernesto/bin/bedtools-2.25.0/bin/' // folder containing the bedtools binary

