// params defaults for ascp client
params.ascp_prefix= 'era-fasp@fasp.sra.ebi.ac.uk:'
params.wget_prefix= 'https://ftp.1000genomes.ebi.ac.uk'
params.key_file = '/homes/ernesto/.aspera/connect/etc/asperaweb_id_dsa.openssh' // Private-key file name (id_rsa) for authentication
params.transfer_rate = '900M'
params.port = 33001 // TCP port used for SSH authentication
params.wget = false
params.ascp = true

process {
  executor='lsf'
  cpus = 1
  memory = '1 GB'
  queue='production-rh74'
  maxForks = 10
  errorStrategy='ignore'
}