params.bcftools_folder='/homes/ernesto/bin/bcftools-1.6/' // folder containin the bcftools binary
params.tabix_folder='/nfs/production/reseq-info/work/ernesto/bin/anaconda3/bin/' // path to tabix binary
params.giab='/nfs/production/reseq-info/work/ernesto/isgr/SUPPORTING/REFERENCE/GIAB/ANALYSIS_READY/CHR20/NA12878.giab.SNP.chr20.non_valid.reheaded.vcf.gz' 
params.queue='production-rh7' // queue name used by LSF
